# Node
node_modules/
npm-debug.log
yarn-error.log

# Env files
.env
.env.local
.env.*.local
.env.production
.env.development

# Build / dist
dist/
build/

# Docker
*.pid
*.seed
*.log
.dockerignore

# OS junk
.DS_Store
Thumbs.db
